<ion-view title="Dashboard">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header" ng-controller="DashCtrl">

<div class="card">
    <div class="item item-stable">
        <div class="ion-ios-compose-outline"> </div>
        <center>Lecture</center>
    </div>
     <div class="item item-text-wrap ">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="fil_lecture" placeholder="Search">
          </label>
        </div>
    </div>
    <div ng-repeat="subject in Lecture[0].data | filter:fil_lecture" class="item item-text-wrap">        
        <div class="row">
            <div class="col col-20 col-center"><h2>{{subject.day}} <br>{{subject.time_start}}:00 </h2></div>
            <div class="col col-10 col-center"><font class="lineCenter" size="70px" color="{{subject.day_color}}">|</font></div>
            <div class="col col-75">{{ subject.subject_name }} <h3>{{ subject.subject_id }}</h3></div>
        </div>
    </div>
</div>

<div class="card">
    <div class="item item-stable">
        <center>Midterm Exam</center>    
    </div>
    <div class="item item-text-wrap ">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="fil_mid" placeholder="Search">
          </label>
        </div>
    </div>
    <div class="item item-text-wrap " ng-repeat="lec in Lecture[0].data | filter:fil_mid">
	    <div ng-repeat="mid in Midterm[0].data | filter:lec.subject_id" class="item item-text-wrap">
	        <div class="row">
	            <div class="col col-20 col-center"> {{mid.mid_start}}<br><h3>{{mid.mid_day}} {{mid.month_name}}</h3>{{mid.mid_week}}</div>
	            <div class="col col-10 col-center"><font class="lineCenter" size="70px" color="{{mid.day_color}}">|</font></div>
	            <div class="col col-75">{{ mid.subject_name }} <h3>{{ mid.subject_id }}</h3></div>
	        </div>
	    </div>
	</div>
	<div class="item item-text-wrap">
		<a class="item item-icon-right" href="#/app/browse/mid">
		    More
		    <i class="icon ion-chevron-right"></i>
		</a>
	</div>
</div>


<div class="card">
    <div class="item item-stable">
        <center>Final Exam</center>    
    </div>
    <div class="item item-text-wrap ">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="fil_final" placeholder="Search">
          </label>
        </div>
    </div>
    <div class="item item-text-wrap " ng-repeat="lec in Lecture[0].data | filter:fil_final">
	    <div ng-repeat="fin in Final[0].data | filter:lec.subject_id" class="item item-text-wrap">
	        <div class="row">
	            <div class="col col-20 col-center"> {{fin.final_start}}<br><h3>{{fin.final_day}} {{fin.month_name}}</h3></div>
	            <div class="col col-10 col-center"><font class="lineCenter" size="70px" color="{{fin.day_color}}">|</font></div>
	            <div class="col col-75">{{ fin.subject_name }} <h3>{{ fin.subject_id }}</h3></div>
	        </div>
	    </div>
    </div>
    <div class="item item-text-wrap">
        <a class="item item-icon-right" href="#/app/browse/final">
            More
            <i class="icon ion-chevron-right"></i>
        </a>
    </div>
</div>





</ion-content>
</ion-view>