<ion-view title="Final">
	<ion-content class="has-header" ng-controller="DashCtrl">
		<div class="card">
		    <div class="item item-divider">
		        <center>Final Exam</center>    
		    </div>
		    <div class="item item-text-wrap ">
		        <div class="list">
		          <label class="item item-input">
		            <i class="icon ion-search placeholder-icon"></i>
		            <input type="text" ng-model="fil_final" placeholder="Search">
		          </label>
		        </div>
		    </div>
		    <div class="item item-text-wrap" ng-repeat="fin in Final[0].data | filter:fil_final" class="item item-text-wrap">
		        <div class="row">
		            <div class="col col-20 col-center"> {{fin.final_start}}<br><h3>{{fin.final_day}} {{fin.month_name}}</h3>{{fin.final_week}}</div>
		            <div class="col col-10 col-center"><font class="lineCenter" size="70px" color="{{fin.day_color}}">|</font></div>
		            <div class="col col-75">{{ fin.subject_name }} <h3>{{ fin.subject_id }}</h3></div>
		        </div>
		    </div>
		</div>
	</ion-content>
</ion-view>